<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 导航菜单 -->
<aside class="main-sidebar"  th:fragment="sidebar">

    <section class="sidebar">
        <ul id="sidebar-menu" class="sidebar-menu" style="overflow: hidden; width: auto; height: 241px;">
            <li class="header">导航菜单</li>
            <li class="active"><a href="javascript:;"><i class="fa fa-coffee"></i><span>系统管理</span><i
                    class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li class="link active"><a href="#base/area/list.html"><i class="fa fa-leaf"></i> 行政区域</a>
                    </li>
                    <li class="link"><a href="#base/menu/list.html"><i class="fa fa-th-list"></i> 系统菜单</a></li>
                    <li class="link"><a href="#base/macro/list.html"><i class="fa fa-book"></i> 通用字典</a></li>
                    <li class="link"><a href="#base/log/list.html"><i class="fa fa-warning"></i> 系统日志</a></li>
                    <li class="link"><a href="#base/quartz/list.html"><i class="fa fa-bell"></i> 定时任务</a></li>
                    <li class="link"><a href="#base/generator/list.html"><i class="fa fa-archive"></i> 敏捷开发</a></li>
                    <li class="link"><a href="#druid/index.html"><i class="fa fa-bug"></i> 系统监控</a></li>
                </ul>
            </li>
            <li><a href="javascript:;"><i class="fa fa-desktop"></i><span>组织机构</span><i
                    class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li class="link"><a href="#base/org/list.html"><i class="fa fa-sitemap"></i> 机构管理</a></li>
                    <li class="link"><a href="#base/role/list.html"><i class="fa fa-paw"></i> 角色管理</a></li>
                    <li class="link"><a href="#base/user/list.html"><i class="fa fa-user"></i> 用户管理</a></li>
                </ul>
            </li>
        </ul>
    </section>

</aside>